body {
    font: 400 18px Lato, Tahoma, sans-serif;
    line-height: 1.6;
}

@media screen and (min-width: 992px) {
    h1, h2, h3 {
        letter-spacing: 2px;
        margin-bottom: 40px !important;
        margin-top: 40px !important;
        font-weight: bold;
    }
}

@media screen and (max-width: 992px) {
    h1, h2, h3 {
        letter-spacing: 2px;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
        font-weight: bold;
    }
}

@media screen and (min-width: 992px) {
    .container-fluid {
        padding: 50px 100px;
    }
}

@media screen and (max-width: 992px) {
    .container, .container-fluid {
        padding: 12px 25px;
    }
}

.navbar {
    margin-bottom: 0 !important;
    background-color: #F4511E;
    border: 0;
    z-index: 9999;
    font-family: Montserrat, Tahoma, sans-serif;
    font-size: 12px !important;
    line-height: 1.6 !important;
    letter-spacing: 0px;
    border-radius: 0px;
}

.navbar li a, .navbar .navbar-brand {
    color: #FFF !important;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .container-fluid {
    padding: 0px 25px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F4511E !important;
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #FFF !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.jumbotron {
    background-color: #F4511E;
    color: #FFF;
    padding: 100px 25px;
    margin-bottom: 0;
    font-family: Montserrat, Tahoma, "Microsoft YaHei UI Light", sans-serif;
}

.bg-grey {
    background-color: #F6F6F6;
}

.sidelogo {
    margin-top: 50px;
}

.logo, .logo-small {
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 40px 0;
    color: #F4511E;
}

.logo {
    font-size: 200px;
}

.logo-small {
    font-size: 75px;
}

.btn-inline {
    margin: 20px 0;
}

.panel {
    border: 5px solid #F4511E;
    border-radius: 10px;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.5);
}

.panel-heading {
    color: #FFF !important;
    background-color: #F4511E !important;
}

.tab-content {
    padding-top: 20px;
}

.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #F4511E;
}

.carousel-indicators {
    bottom: -20px !important;
}

.carousel-indicators li {
    border-color: #F4511E;
}

.carousel-indicators li.active {
    background-color: #F4511E;
}

.item {
   padding: 50px 0;
}

.item p {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
    font-style: italic;
}

.item span {
    font-style: normal;
    float: right;
}

.modal-dialog {
    margin-top: 100px;
}

.googleMap {
    width: 100%;
    height: 600px;
}

img {
    padding-top: 50px;
    width: 100%;
}

footer span {
    font-size: 20px;
    margin-bottom: 10px;
    color: #F4511E;
}

.slideanim {
    visibility:hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(40%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
